<nav class="pcoded-navbar menupos-fixed menu-light brand-blue ">
    <div class="navbar-wrapper ">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <img src="../images/logo.svg" alt="" class="logo images">
                <img src="./images/logo-icon.svg" alt="" class="logo-thumb images">
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="/user/profile" class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-user"></i></span><span class="pcoded-mtext">Profile</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/register" class="" target="_blank">Sign up</a></li>
                        <li class=""><a href="/signin" class="" target="_blank">Sign in</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/products" class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-square-plus"></i></span><span class="pcoded-mtext">Add Product</span></a></li>
                <!-- <li class="nav-item"><a href="/addCategory" class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-grip-vertical"></i></span><span class="pcoded-mtext">Add Category</span></a></li>
                <li class="nav-item"><a href="/addSubCategory" class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-grip-vertical"></i></span><span class="pcoded-mtext">Sub Category Add</span></a></li>
                <li class="nav-item"><a href="/listCategory" class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-grip-vertical"></i></span><span class="pcoded-mtext">View Category</span></a></li>
                <li class="nav-item"><a href="/subCateGory" class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-grip-vertical"></i></span><span class="pcoded-mtext">View Sub Category</span></a></li> -->
                <li class="nav-item"><a href="/ViewProduct" class="nav-link"><span class="pcoded-micon"><i class="fa-solid fa-list"></i></span><span class="pcoded-mtext">View Product</span></a></li>
                <!-- <li class="nav-item"><a href="/samplepage" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li> -->
                <li class="nav-item disabled"><a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled menu</span></a></li>
            </ul>
        </div>
    </div>
</nav>